<div class="row">
  <div class="col-12">
    <p *ngIf="Tracks.Tracks.length <= 0; else showResults">No results.</p>
    <ng-template #showResults>
      <table>
        <tr>
          <th>&nbsp;</th>
          <th>Track</th>
          <th>Artist</th>
          <th>Album</th>
          <th>Length</th>
          <th>Released</th>
          <th>Genre</th>
          <th>Price</th>
        </tr>

        <tr *ngFor="let track of Tracks.Tracks; index as i" (click)="showPlayer(i)" style="cursor: pointer;">
          <td>
            <img src="{{ track.Artwork.ExtraSmall }}" />
          </td>
          <td>
            {{ track.Name }}
          </td>
          <td>
            {{ track.Artist.Name }}
          </td>
          <td>
            {{ track.Collection.Name }}
          </td>
          <td>
            {{ track.ReadableLength }}
          </td>
          <td>
            {{ track.ReadableReleaseDate }}
          </td>
          <td>
            {{ track.PrimaryGenre }}
          </td>
          <td>
            {{ track.ReadablePrice }}
          </td>
        </tr>
      </table>
    </ng-template>
  </div>
</div>
