<a href="https://twitter.com/intent/tweet?text={{Title}}+&url={{Url}}" target="_blank">
  <img src="assets/twitter.png" width="25" height="25" alt="Twitter" title="Share with Twitter" />
</a>

<a href="https://www.facebook.com/sharer.php?u={{Url}}" target="_blank">
  <img src="assets/facebook.png" width="25" height="25" alt="Facebook" title="Share with Facebook" />
</a>
<a href="https://getpocket.com/edit?url={{Url}}" target="_blank">
  <img src="assets/getpocket.png" width="25" height="25" alt="Get Pocket" title="Share with Pocktet" />
</a>
<a href="http://www.folkd.com/page/submit.html?addurl={{Url}}" target="_blank">
  <img src="assets/folkd.png" width="25" height="25" alt="Folkd" title="Share with Folkd" />
</a>
<a href="http://service.weibo.com/share/share.php?url={{Url}}&appkey=&title={{Title}}&pic=&ralateUid=" target="_blank">
  <img src="assets/weibo.png" width="25" height="25" alt="Weibo" title="Share with Weibo" />
</a>
